!!! 5
html
  head
    title REIMS (Richmond Eyeglass Inventory Matching System)
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    h1 Welcome to REIMS (Richmond Eyeglass Inventory Matching System) 
    
    div.menu-item
        a(href='invadd') Add to Inventory
    div.menu-item
        a(href='match') Search
    div.menu-item
        a(href='locations') Set up Locations