!!!5
html
   head
      title= title
     link(rel='stylesheet', href='/stylesheets/style.css')
body

h1 Welcome to REIMS 
h2 Richmond Eyeglass Inventory Matching System

section.css-table
  section.three-column
      a(href='inventory').cell
        h2 Add to Inventory
      a(href='match').cell 
        h2 Search for matches
      a(href='locations').cell 
        h2 Set up Locations
  section.three-column
      a(href='inventoryall').cell
        h2 Entire Inventory
      a(href='match').cell 
        h2 Search for matches
      a(href='locations').cell 
        h2 Set up Locations
